{% load static %}<!doctype html>
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
.helptext {
    font-size: smaller;
    color: darkgray;
}
.errorlist {
    font-size: smaller;
    color: red;
    margin-top: 1em;
    margin-bottom:0px;
    list-style-type: none;
}
.errorlist li {
        margin-left: -40px;
}
th {
    vertical-align: top;
}

    </style>
  </head>

<body>
<div class="container my-4">

          {% block content %}
          {% endblock %}

</div>

</body>
</html>
